<h2>Create Note</h2>

<div>
    <form method="post" action="Create">
        <div class = "form-group">
            <label>Title</label>
            <input type="text" name = "Title"/>

            <label>Description</label>
            <input type="text" name = "Description"/>

            <label>Price</label>
            <input type="decimal" name = "Price"/>
        </div>
            
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</div>